mixin footer(data)
  footer.footer
    .footer__container.container
      .footer__top.flex
        .footer__entry
          h1.footer__title.title.title_big Скачайте сейчас и заработайте уже <span>сегодня</span>

          picture.footer__image-mob
            source(
              type='image/webp'
              media='(min-width:300px)'
              data-srcset='assets/images/general/person-footer-mob@2x.webp 2x, assets/images/general/person-footer-mob.webp 1x')
            source(
              type='image/png'
              media='(min-width:300px)'
              data-srcset='assets/images/general/person-footer-mob@2x.png 2x, assets/images/general/person-footer-mob.png 1x')

            img.lazy(data-src='assets/images/general/person-footer-mob@2x.png' alt="")

          .footer__text Играйте, развивайтесь и получайте <br/>постоянный доход, где бы не находились

          a.footer__button.button.popup-open(href="#xgame") Начать игру

        .footer__person
          picture.footer__image
            source(
              type='image/webp'
              media='(min-width:300px)'
              data-srcset='assets/images/general/person-footer-mob@2x.webp 2x, assets/images/general/person-footer-mob.webp 1x')
            source(
              type='image/png'
              media='(min-width:300px)'
              data-srcset='assets/images/general/person-footer-mob@2x.png 2x, assets/images/general/person-footer-mob.png 1x')

            img.lazy(data-src='assets/images/general/person-footer-mob@2x.png' alt="")

          .footer__stores.stores.flex.flex_center
            a.stores__store.stores__store_google(href="#")
              img.lazy(data-src='assets/images/general/googleplay@2x.png' alt="")

            a.stores__store.stores__store_apple(href="#")
              img.lazy(data-src='assets/images/general/appstore@2x.png' alt="")

      .footer__bottom
        .footer__copyright x-game.me © Все права защищены 2020

